.navbar {
  background-color: #2c3e50;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pair-options button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
}

.pair-options button:hover {
  background-color: #54b929;
}
